
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/__AdminLayout.cshtml";
}
@using Models.Entity
@model List<Customer>

@section js{
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
                "lengthMenu": [5, 10, 20, 50],
            });
        });
    </script>
    <script src="~/Assets/Admin/dist/js/ajax/customer.js"></script>
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="margin-top: 9px;">
            Danh sách khách hàng
        </h3>
        <div style="float: right;">
            <button class="btn btn-success" data-toggle="modal" data-target="#formModal">
                <i class="fas fa-user-plus"></i>
            </button>
            <!-- Add Modal -->
            <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="formModalLabel">Thêm khách hàng</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="addUser" method="post" action="">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="inputFullName">Họ tên</label>
                                    <input type="text" class="form-control" name="inputFullName" id="inputFullName" required>
                                    <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" class="form-control" name="inputEmail" id="inputEmail" required>
                                    <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPhone">Phone</label>
                                    <input type="tel" class="form-control" name="inputPhone" id="inputPhone" required>
                                    <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                </div>
                                <div class="form-group">
                                    <label for="inputGender">Giới tính</label>
                                    <select class="form-control" name="inputGender" id="inputGender" required>
                                        <option value="1">Nam</option>
                                        <option value="0">Nữ</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Địa chỉ</label>
                                    <input type="text" class="form-control" name="inputAddress" id="inputAddress" required>
                                    <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-success">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Add Modal -->
        </div>
    </div>
    <!-- /.card-header -->
    <div id="dataTable" class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên khách hàng</th>
                    <th>Địa chỉ</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Giới tính</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.FullName</td>
                        <td>@item.Address</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        @if (item.Gender == 1)
                        {
                            @:<td>Nam</td>
                        }
                        else
                        {
                            @:<td>Nữ</td>
                        }
                        <td style="text-align: center;">
                            <button class="btn btn-success" data-toggle="modal" data-target="#formEditModal">
                                <i class="fas fa-eye"></i>
                            </button>
                            <a href="/Admin/Customer/Delete?id=@item.CustomerID" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
        <!-- Edit Modal -->
        <div class="modal fade" id="formEditModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModalLabel">Thông tin khách hàng</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="inputFullName">Họ tên</label>
                                <input type="text" class="form-control" id="inputFullName">
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="email" class="form-control" id="inputEmail">
                            </div>
                            <div class="form-group">
                                <label for="inputPhone">Phone</label>
                                <input type="tel" class="form-control" id="inputPhone">
                            </div>
                            <div class="form-group">
                                <label for="inputGender">Giới tính</label>
                                <select class="form-control" id="inputGender">
                                    <option>(chọn)</option>
                                    <option value="1">Nam</option>
                                    <option value="0">Nữ</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Địa chỉ</label>
                                <input type="text" class="form-control" id="inputAddress">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-success">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Edit Modal -->
    </div>
    <!-- /.card-body -->
</div>