
@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/__AdminLayout.cshtml";
}

@section js{
    <script>
        $(document).ready(function () {
            var table = $("#listView").DataTable({
                ordering: false,
                columnDefs: [
                    { orderable: false, sortable: false, targets: 0 }
                ],
                columns: [
                    { "data": "id" },
                    { "data": "fullname" },
                    { "data": "address" },
                    { "data": "email" },
                    { "data": "phone" },
                    { "data": "gender" },
                    {
                        "data": "id",
                        "render": function (data, type, row, meta) {
                            return '<div class="align-middle">' +
                                '<button class="btn btn-success m-1 edit-btn" data-id="' + data + '" data-toggle="modal" data-target="#formEditModal">' +
                                '<i class="fas fa-eye"></i>' +
                                '</button>' +
                                '<button class="btn btn-danger delete-btn" data-id="' + data + '">' +
                                '<i class="fas fa-trash-alt"></i>' +
                                '</button>' +
                                '</div>';
                        }
                    }
                ],
                responsive: true,
                autoWidth: false,
                lengthMenu: [5, 10, 20, 50],
                order: [[1, 'asc']],
                ajax: {
                    url: "/Admin/Customer/LoadData",
                    method: "post",
                    dataSrc: ""
                }
            });

            table.on('order.dt search.dt', function () {
                table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
    <script>
        $(document).on("click", ".edit-btn", function () {
            var cusID = $(this).data("id");
            $.ajax({
                url: "/Admin/Customer/Get",
                method: "post",
                data: { id: cusID },
                dataType: "json",
                success: function (data) {
                    $(".customerName").html(data.fullname)
                }
            });
            var table2 = $("#listView2").DataTable({
                destroy: true,
                columnDefs: [
                    { orderable: false, sortable: false, targets: 0 }
                ],
                columns: [
                    { "data": "billid" },
                    { "data": "roomid" },
                    { "data": "roomname" },
                    { "data": "checkin" },
                    { "data": "checkout" },
                    {
                        "data": "total",
                        "render": function (data, type, row, meta) {
                            var formatter = new Intl.NumberFormat('vi-VN', {
                                style: 'currency',
                                currency: 'VND',
                            });
                            return formatter.format(data);
                        }
                    },
                    { "data": "status" }
                ],
                responsive: true,
                autoWidth: false,
                lengthMenu: [5, 10, 20, 50],
                order: [[1, 'asc']],
                ajax: {
                    url: "/Admin/Bill/GetByCus/" + cusID,
                    method: "post",
                    dataSrc: ""
                }
            });

            table2.on('order.dt search.dt', function () {
                table2.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
    <script src="~/Assets/Admin/dist/js/ajax/customer.js"></script>
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="margin-top: 9px;">
            Danh sách khách hàng
        </h3>
        <div style="float: right;">
            <button class="btn btn-primary" id="btn-refresh">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="btn btn-success" data-toggle="modal" data-target="#formModal">
                <i class="fas fa-user-plus"></i>
            </button>
            <!-- Add Modal -->
            <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="formModalLabel">Thêm khách hàng</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="addUser" method="post" action="">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="inputFullName">Họ tên</label>
                                    <input type="text" class="form-control" name="inputFullName" id="inputFullName" required>
                                    <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" class="form-control" name="inputEmail" id="inputEmail" required>
                                    <div class="invalid-feedback">Email để trống hoặc không đúng định dạng</div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPhone">Phone</label>
                                    <input type="tel" class="form-control" name="inputPhone" id="inputPhone" required>
                                    <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                </div>
                                <div class="form-group">
                                    <label for="inputGender">Giới tính</label>
                                    <select class="form-control" name="inputGender" id="inputGender" required>
                                        <option value="">(chọn)</option>
                                        <option value="1">Nam</option>
                                        <option value="0">Nữ</option>
                                    </select>
                                    <div class="invalid-feedback">Vui lòng chọn giới tính</div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Địa chỉ</label>
                                    <input type="text" class="form-control" name="inputAddress" id="inputAddress" required>
                                    <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="reset" hidden id="btn-reset" class="btn btn-secondary">Reset</button>
                                <button type="button" id="btn-dismiss" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-success">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Add Modal -->
        </div>
    </div>
    <!-- /.card-header -->
    <div id="dataTable" class="card-body">
        <table id="listView" class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên khách hàng</th>
                    <th>Địa chỉ</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Giới tính</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                @*@{ int i = 1;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.FullName</td>
                            <td>@item.Address</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            @if (item.Gender == 1)
                            {
                                @:<td>Nam</td>
                            }
                            else
                            {
                                @:<td>Nữ</td>
                            }
                            <td style="text-align: center;">
                                <button class="btn btn-success" data-toggle="modal" data-target="#formEditModal">
                                    <i class="fas fa-eye"></i>
                                </button>
                                <button class="btn btn-danger delete-btn" data-id="@item.CustomerID">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        i++;
                    }*@
            </tbody>
        </table>
        <!-- Edit Modal -->
        <div class="modal fade" id="formEditModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#customerInfo" data-toggle="tab">Thông tin khách hàng</a></li>
                            <li class="nav-item"><a class="nav-link" id="btn-orderList" href="#orderList" data-toggle="tab">Lịch sử đơn đặt phòng</a></li>
                        </ul>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="tab-content">
                        <div class="active tab-pane" id="customerInfo">
                            <form id="editUser" method="post" action="">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEditID">Mã khách hàng</label>
                                            <input type="text" class="form-control" name="inputEditID" id="inputEditID" required readonly>
                                            <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEditFullName">Họ tên</label>
                                            <input type="text" class="form-control" name="inputEditFullName" id="inputEditFullName" required>
                                            <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEditEmail">Email</label>
                                            <input type="email" class="form-control" name="inputEditEmail" id="inputEditEmail" required>
                                            <div class="invalid-feedback">Email để trống hoặc không đúng định dạng</div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEditPhone">Phone</label>
                                            <input type="tel" class="form-control" name="inputEditPhone" id="inputEditPhone" required>
                                            <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEditGender">Giới tính</label>
                                            <select class="form-control" name="inputEditGender" id="inputEditGender" required>
                                                <option value="">(chọn)</option>
                                                <option value="1">Nam</option>
                                                <option value="0">Nữ</option>
                                            </select>
                                            <div class="invalid-feedback">Vui lòng chọn giới tính</div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEditAddress">Địa chỉ</label>
                                            <input type="text" class="form-control" name="inputEditAddress" id="inputEditAddress" required>
                                            <div class="invalid-feedback">Không Được Để Trống Trường Này</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" hidden id="btn-edit-reset" class="btn btn-secondary">Reset</button>
                                    <button type="button" id="btn-edit-dismiss" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                    <button type="submit" class="btn btn-success">Cập nhật</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="orderList">
                            <div class="modal-body">
                                <div id="dataTable2" >
                                    <h3 style="font-size: 22px">Lịch sử đơn đặt phòng của <span class="customerName" style="font-weight: bold">Insert Name Here</span></h3>
                                    <table id="listView2" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Mã đơn đặt phòng</th>
                                                <th>Tên phòng</th>
                                                <th>Ngày nhận phòng</th>
                                                <th>Ngày trả phòng</th>
                                                <th>Số tiền</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btn-edit-dismiss" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Edit Modal -->
    </div>
    <!-- /.card-body -->
</div>
