@{
    ViewBag.Title = "Có " + ViewBag.Location.roomNumber + " homestay tại " + ViewBag.Location.LocationName;
    Layout = "~/Views/Shared/__HomeLayout.cshtml";
}
@model IEnumerable<LuxStay.Areas.Admin.Data.RoomModel>
@section Header{
    <div class="header__search col l-6 is-flex middle">
        <div class="header__logo is-inline-block">
            <a href="/" class="header__logo-link is-inline-block">
                <svg version="1.1" viewBox="0 0 50 50" class="header__logo-icon"
                     style="width: 50px; height: 50px;">
                    <path pid="0"
                          d="M25.093 0c13.781.06 24.94 11.317 24.882 25.106C49.917 38.894 38.663 50.058 24.88 50 11.1 49.942-.059 38.683.001 24.894.057 11.106 11.31-.058 25.092 0zm11.801 31.9L14.398 16.053c.241-.26.48-.518.74-.777 2.7-2.687 5.971-4.031 9.775-4.015 3.804.015 7.064 1.388 9.741 4.098.238.241.476.482.694.743l-5.951 4.133 2.381 1.688 5.153-3.576v.02L39.33 16.7c-.692-1.203-1.584-2.325-2.616-3.39-3.231-3.292-7.167-4.947-11.788-4.967-4.6-.019-8.53 1.603-11.809 4.867a17.806 17.806 0 00-2.682 3.408l1.429 1.004 23.429 16.51c-.24.26-.48.518-.74.777-2.7 2.687-5.971 4.011-9.775 3.996-3.803-.016-7.063-1.37-9.74-4.08-.258-.26-.496-.521-.734-.782l6.111-4.251-.139-.181-2.183-1.528-5.373 3.735v-.021l-2.377 1.65a17.824 17.824 0 002.654 3.43c3.253 3.291 7.169 4.946 11.769 4.965 4.62.021 8.549-1.602 11.83-4.866 1.06-1.075 1.96-2.21 2.682-3.406l-2.383-1.67z">
                    </path>
                </svg>
            </a>
        </div>
        <div class="header__search-box">
            <div class="header__search-box--wrapper is-flex middle">
                <!-- header input search -->
                <div class="header__search--item header__search-input">
                    <i class="header__search-icon fas fa-search"></i>
                    <input type="text" placeholder="Tìm kiếm">
                </div>
                <!-- header input days -->
                <div class="header__search--item header__search-day">
                    <div class="is-flex middle">
                        <i class="header__search-icon far fa-calendar"></i>
                        <input type="text" name="daterange" class="app-datepicker datepicker__header" readonly />
                    </div>
                </div>
                <!-- header input people -->
                <div class="header__search--item header__search-people has-dropdown-box">
                    <i class="header__search-icon fas fa-user"></i>
                    <p>Số khách</p>
                    <div class="header__search-people--counter dropdown-box">
                        <div class="select-number">
                            <div class="select-number__title">
                                <p>Người lớn</p>
                                <span>Trên 18 tuổi</span>
                            </div>
                            <div class="select-number__input-wp">
                                <div class="select-number__input--decrease disable">
                                    -
                                </div>
                                <div class="select-number__input">
                                    <input type="text" placeholder="0">
                                </div>
                                <div class="select-number__input--increase ">
                                    +
                                </div>
                            </div>
                        </div>
                        <div class="select-number">
                            <div class="select-number__title">
                                <p>Trẻ em</p>
                                <span>Tuổi từ 2-12</span>
                            </div>
                            <div class="select-number__input-wp">
                                <div class="select-number__input--decrease">
                                    -
                                </div>
                                <div class="select-number__input">
                                    <input type="text" placeholder="0">
                                </div>
                                <div class="select-number__input--increase ">
                                    +
                                </div>
                            </div>
                        </div>
                        <div class="select-number">
                            <div class="select-number__title">
                                <p>Trẻ sơ sinh</p>
                                <span>Dưới 2 tuổi</span>
                            </div>
                            <div class="select-number__input-wp">
                                <div class="select-number__input--decrease">
                                    -
                                </div>
                                <div class="select-number__input">
                                    <input type="text" placeholder="0">
                                </div>
                                <div class="select-number__input--increase ">
                                    +
                                </div>
                            </div>
                        </div>
                        <div class="select-number__options is-flex">
                            <button class="select-number__options--delete">Xóa</button>
                            <button class="select-number__options--save">Áp dụng</button>
                        </div>
                    </div>
                </div>
                <!-- header search btn -->
                <div class="header__search--item btn header__search-btn p-0">
                    <i class="header__search-icon fas fa-search"></i>
                </div>
            </div>
        </div>
    </div>
    <nav class="header__navbar col l-6 is-flex middle">
        <ul class="header__navbar--list is-flex middle">
            @using LuxStay.Areas.Admin.Data
            @if (Session["USER"] == null)
            {
                <!-- Not login -->
                <li class="header__navbar--item header__navbar-register">
                    <a href="/Account/Register">Đăng ký</a>
                </li>
                <li class="header__navbar--item header__navbar-login">
                    <a href="/Account/Login">Đăng nhập</a>
                </li>
            }
            else
            {
                <!-- Login -->
                <li class="header__navbar--item header__navbar-user has-dropdown-box">
                    <a class="is-flex middle btn--dropdown">
                        <div class="user-avar">
                            <img src="~/Assets/Client/assets/img/user-ava.jpg" alt="">
                        </div>
                        <span>@(((CustomerModel)Session["USER"]).fullname)</span>
                    </a>
                    <div class="user-menu dropdown-box">
                        <ul class="user-menu__list">
                            <li class="user-menu__item">
                                <a href="" class="user-menu__link">
                                    <i class="far fa-calendar"></i>
                                    <p>Đặt chỗ của tôi</p>
                                </a>
                            </li>
                            <li class="user-menu__item">
                                <a href="" class="user-menu__link">
                                    <i class="fas fa-cog"></i>
                                    <p>Cài đặt tài khoản</p>
                                </a>
                            </li>
                            <li class="user-menu__item">
                                <a href="" class="user-menu__link">
                                    <i class="far fa-heart"></i>
                                    <p>Yêu thích</p>
                                </a>
                            </li>
                            <li class="user-menu__item">
                                <a href="/Account/Logout" class="user-menu__link">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <p>Đăng xuất</p>
                                </a>
                            </li>
                            <li class="user-menu__line"></li>
                        </ul>
                    </div>
                </li>
            }
            <!-- crurrency -->
            <li class="header__navbar--item header__navbar-currency has-dropdown-box">
                <a class="is-flex middle btn--dropdown">
                    <div class="currency-avar">
                        <img src="~/Assets/Client/assets/img/flag/vn.svg" alt="">
                    </div>
                    <span>VND</span>
                </a>
                <div class="currency-box dropdown-box">
                    <div class="is-flex">
                        <div class="currency-box__language ">
                            <a href="" class="is-flex middle is-checked">
                                <img src="~/Assets/Client/assets/img/flag/vn.svg" alt="">
                                <span>Tiếng Việt</span>
                            </a>
                            <a href="" class="is-flex middle ">
                                <img src="~/Assets/Client/assets/img/flag/en.svg" alt="">
                                <span>English</span>
                            </a>
                        </div>
                        <div class="currency-box__monney">
                            <a href="" class="is-flex middle is-checked">
                                <b>VND</b>
                                <span>Việt Nam Đồng</span>
                            </a>
                            <a href="" class="is-flex middle ">
                                <b>USA</b>
                                <span>United States Dollar</span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
}
<div class="product-page-wp">
    <section class="products-page__container grid wide">
        <div class="list-keywword-wp">
            <ul class="list-keywword">
                <li class="list-keywword__item btn ">
                    Giá ưu đãi
                </li>
                <li class="list-keywword__item btn ">
                    Đặt Phòng Nhanh
                </li>
                <li class="list-keywword__item btn ">
                    Khu vực
                </li>
                <li class="list-keywword__item btn ">
                    Loại phòng
                </li>
                <li class="list-keywword__item btn ">
                    Giá chỗ ở
                </li>
                <li class="list-keywword__item btn ">
                    Thêm bộ lọc
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col l-12">
                <div class="product-list-wp">
                    <div class="product-list__header">
                        <h2 class="product-list__header--title">
                            <span>@ViewBag.Location.roomNumber</span> homestay tại <span>
                                @ViewBag.Location.LocationName
                            </span>
                        </h2>
                        <div class="product-list__option-wp has-dropdown-box">
                            <span class="product-list__option--title">Sắp xếp:</span>
                            <input type="text" readonly="readonly" autocomplete="off" productholder="Lựa chọn"
                                   class="product-list__option">
                            <i class="product-list__option--icon fas fa-chevron-down"></i>
                            <ul class="product-list__option-list dropdown-box">
                                <li class="product-list__option-item">
                                    Giá giảm dần
                                </li>
                                <li class="product-list__option-item">
                                    Giá tăng dần
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-list">
                        @if (Model.Count() != 0)
                        {
                            foreach (var item in Model)
                            {
                                <a href="/Rooms/@item.id" class="product-list__item col l-2-4">
                                    <div class="item__notion">
                                        @if (item.salePersent != 0)
                                        {
                                            <p>-@item.salePersent% Hôm nay</p>
                                        }
                                    </div>
                                    <div class="product-list__item--img"
                                         style="background-image: url(@item.avatar);">
                                    </div>
                                    <div class="product-list__item--cotent">
                                        <h3 class="product-list__item--heading">
                                            @item.roomName - @item.bedRoom Phòng Ngủ,  @item.area m2,
                                        </h3>
                                        <p class="product-list__item--sub">
                                            @item.roomCategory - @item.bedRoom phòng ngủ
                                        </p>
                                        <p class="product-list__item--price"> <span>@item.priceShow</span>₫/đêm</p>
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            <h3>Không Có HomeStay Nào Tại Khu Vực Này :(((((</h3>
                        }

                    </div>
                </div>
            </div>
            <div class="col l-12">
                <div class="is-flex center">
                    <ul class="pagination mt-42">
                        <li>
                            <a href="#" class="prev">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>
                        <li class="pageNumber active"><a href="#">1</a></li>
                        <li class="pageNumber"><a href="#">2</a></li>
                        <li class="pageNumber"><a href="#">3</a></li>
                        <li class="pageNumber"><a href="#">4</a></li>
                        <li class="pageNumber"><a href="#">5</a></li>
                        <li class="pageNumber-sub"><a href="#">...</a></li>
                        <li class="pageNumber"><a href="#">99</a></li>
                        <li>
                            <a href="#" class="next">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col l-12">
                <div class="pagination-sub mt-12 mb-12 text-center">
                    <span>1</span> - <span>20</span> trong số <span>1999</span> chỗ ở
                </div>
            </div>
        </div>
    </section>
</div>
@section js{
    <script>
        $('.app-datepicker').daterangepicker({
            opens: 'right',
            locale: {
                "format": "DD/MM/YY",
                "separator": " đến ",
            }
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
        $('.app-datepicker').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD-MM-YY') + ' đến ' + picker.endDate.format('DD-MM-YY'));
        });
    </script>
}





