@{
    ViewBag.Title = "Thông Tin Đặt Chỗ";
    Layout = "~/Views/Shared/__HomeLayout.cshtml";
}
@model LuxStay.Models.Data.Checkout
@section Header{
    <!-- header-sreach -->
    <div class="header__search col l-12 is-flex middle">
        <div class="header__logo is-inline-block">
            <a href="/" class="header__logo-link-no-search is-inline-block">
                <svg version="1.1" viewBox="0 0 244 50" class="svg-icon svg-fill" style="width: 244px;">
                    <path pid="0"
                          d="M25.093 0c13.781.06 24.94 11.317 24.882 25.106C49.917 38.894 38.663 50.058 24.88 50 11.1 49.942-.059 38.683.001 24.894.057 11.106 11.31-.058 25.092 0zm11.801 31.9L14.398 16.053c.241-.26.48-.518.74-.777 2.7-2.687 5.971-4.031 9.775-4.015 3.804.015 7.064 1.388 9.741 4.098.238.241.476.482.694.743l-5.951 4.133 2.381 1.688 5.153-3.576v.02L39.33 16.7c-.692-1.203-1.584-2.325-2.616-3.39-3.231-3.292-7.167-4.947-11.788-4.967-4.6-.019-8.53 1.603-11.809 4.867a17.806 17.806 0 00-2.682 3.408l1.429 1.004 23.429 16.51c-.24.26-.48.518-.74.777-2.7 2.687-5.971 4.011-9.775 3.996-3.803-.016-7.063-1.37-9.74-4.08-.258-.26-.496-.521-.734-.782l6.111-4.251-.139-.181-2.183-1.528-5.373 3.735v-.021l-2.377 1.65a17.824 17.824 0 002.654 3.43c3.253 3.291 7.169 4.946 11.769 4.965 4.62.021 8.549-1.602 11.83-4.866 1.06-1.075 1.96-2.21 2.682-3.406l-2.383-1.67zm45.839 2.652l-12.45-.05.096-21.789a.957.957 0 00-.965-.945l-.678-.003a.96.96 0 00-.974.939v.047c-.048.095-.05.236-.05.33l-.098 22.636a1.337 1.337 0 001.351 1.326l13.805.056a.958.958 0 00.973-.938l.003-.662a1.037 1.037 0 00-1.013-.946v-.001zm27.64-22.67l-.871-.003c-.563-.003-1.027.42-1.027.937l-.075 15.878c-.014 3.157-3.252 5.735-7.197 5.72-3.943-.014-7.158-2.618-7.144-5.775l.123-15.5.052-.282a.957.957 0 00-.201-.756 1.128 1.128 0 00-.767-.332l-.87-.004c-.513-.002-.924.326-1.028.75a.857.857 0 00-.156.47l-.073 15.69c-.02 4.616 4.47 8.402 9.95 8.424 5.48.022 10.004-3.73 10.025-8.3l.122-15.5.054-.282a.952.952 0 00-.203-.755c-.152-.189-.458-.379-.714-.38zm48.638 11.226c-3.275-1.249-6.696-2.496-6.688-4.393.01-2.42 2.721-4.401 6.05-4.387 3.331.014 6.025 2.017 6.014 4.436l-.002.38a.96.96 0 00.961.953l.675.003a.96.96 0 00.971-.945v-.38c.009-1.66-.709-3.276-2.006-4.515-1.635-1.618-4.092-2.532-6.65-2.494-4.873-.02-8.698 3.047-8.715 6.938.03 3.748 4.416 5.38 8.656 6.962 3.324 1.247 6.795 2.495 6.785 4.487-.01 2.372-3.155 4.399-6.775 4.385-3.668-.016-6.747-2.07-6.737-4.44l.001-.38a.961.961 0 00-.96-.954l-.676-.002a.96.96 0 00-.97.945v.38c-.018 3.843 4.215 6.991 9.38 7.012 5.163.022 9.423-3.092 9.44-6.934-.033-3.796-4.464-5.427-8.754-7.057zM193.66 11.84l-18.844-.076c-.547-.003-.996.42-.999.94l-.002.66c-.002.52.443.946.99.949l8.103.032-.095 21.802c-.003.52.443.947.99.949l.696.002c.546.003.996-.42 1-.94l.095-21.802 8.055.031c.547.003.996-.42.999-.94l.003-.66c.003-.52-.443-.946-.99-.947zm49.264.515c-.144-.33-.481-.52-.867-.52l-.87-.005a.963.963 0 00-.677.28l-.145.14-.147.142-6.609 9.677-6.72-9.734c-.048-.046-.096-.094-.096-.14l-.143-.143a.97.97 0 00-.675-.285l-.774-.003a1.021 1.021 0 00-.872.515 1.03 1.03 0 00.045.988l7.966 11.576-.049 11.307c.006.527.437.95.964.946l.675.002a.957.957 0 00.97-.937l.049-11.308 7.923-11.509c.194-.329.243-.705.052-.989zm-37.898 12.047l3.75-7.994 3.728 8.023-7.478-.03zm15.615 10.954v-.047l-10.5-22.733c-.15-.425-.549-.71-1.102-.807-.603-.049-1.156.231-1.41.703v.046l-10.705 22.697v.047l-.204.471c-.095.283-.06.595.097.849.188.258.483.416.802.428l.854.004c.453.001.806-.282.958-.657l.05-.141 4.314-9.277 9.95.04 4.28 9.31.049.14c.15.38.5.664.952.667l.854.002c.352.002.654-.139.806-.422.152-.281.254-.563.104-.847l-.149-.473zm-86.008-15.15l.817.003a.963.963 0 00.729-.347l4.755-6.218.412-.478a.763.763 0 00.095-.915c-.135-.306-.453-.482-.816-.483l-.863-.004a.929.929 0 00-.868.608l-4.983 6.522a.94.94 0 00-.096.915c.135.22.453.394.816.397h.002zm-6.998 8.45l-.819-.002a.96.96 0 00-.728.347l-4.755 6.207-.413.48a.77.77 0 00-.094.92c.135.309.452.485.816.488l.864.002a.91.91 0 00.82-.478l5.03-6.601a.949.949 0 00.095-.92 1.027 1.027 0 00-.816-.443zm8.019-.453l.148.14 5.55 7.248c.248.284.246.662.095.99-.15.332-.5.519-.9.517l-.896-.004a1.013 1.013 0 01-.697-.286l-.149-.14c-.03-.002-.042-.02-.059-.044a.212.212 0 00-.04-.052l-5.501-7.151a1.005 1.005 0 01-.15-.237l-11.694-15.39-.446-.521c-.248-.285-.246-.662-.096-.993.15-.33.501-.518.9-.516l.897.004a.99.99 0 01.845.428l.15.19 11.992 15.721s.05.048.05.096z">
                    </path>
                </svg>
            </a>
        </div>
        <!-- header-checkout-progress -->
        <div class="header__navbar-checkout is-flex middle">
            <div class="header__navbar-checkout--item active">
                1. Thông tin đặt chỗ
                <i class="fas fa-angle-right header__navbar-checkout--icon"></i>
            </div>
            <div class="header__navbar-checkout--item">
                2. Xác nhận và thanh toán
                <i class="fas fa-angle-right header__navbar-checkout--icon"></i>
            </div>
            <div class="header__navbar-checkout--item">
                3. Đặt phòng thành công
            </div>
        </div>
    </div>
}
<div class="checkout-page-wp">
    <!-- checkout-1 content -->
    <div class="grid wide">
        <div class="checkout-1__content">
            <div class="row">
                <!-- booking info -->
                <div class="col l-6">
                    <form action="/Checkout/Payment">
                        <div class="checkout-1__booking-info-wp">
                            <!-- Info booking -->
                            <div class="checkout-1__booking-info--item">
                                <h3 class="checkout-1__booking-info--item-title">Thông tin đặt chỗ</h3>
                                <div class="checkout-1__booking-info-body">
                                    <!-- guess number -->
                                    <div class="checkout-1__booking-info-body--item">
                                        <p class="checkout-1__booking-info-subtitle">
                                            <span class="important-info">*</span>
                                            Số khách
                                        </p>
                                        <div class="checkout-1__booking-info-content">
                                            <div class="row">
                                                <div class="col l-6">
                                                    <div class="px-18 py-12 bg-white is-shadow-box">
                                                        1 Khách
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- room booking info -->
                                    <div class="checkout-1__booking-info-body--item">
                                        <p class="checkout-1__booking-info-subtitle">
                                            @Model.stayNumber đêm tại @Model.room.roomName - @Model.room.bedNumber Phòng Ngủ, @Model.room.area m2
                                        </p>
                                        <input type="hidden" name="stay" value="@Model.stayNumber"/>
                                        <input type="hidden" name="id" value="@Model.id"/>
                                        <div class="checkout-1__booking-info-content">
                                            <div class="row">
                                                <div class="col l-6">
                                                    <div class="px-18 py-12 bg-white is-shadow-box is-grounded">
                                                        <div class="cross-bar cross-bar-green"></div>
                                                        <p class="my-0 opacity-7">Nhận phòng</p>
                                                        <p class="my-0 fs-24">@Model.checkin</p>
                                                        <input type="hidden" name="checkin" value="@Model.checkin"/>
                                                        <p class="my-0 fs-12 opacity-7">Thứ tư</p>
                                                    </div>
                                                </div>
                                                <div class="col l-6">
                                                    <div class="px-18 py-12 bg-white is-shadow-box is-grounded">
                                                        <div class="cross-bar cross-bar-yellow"></div>
                                                        <p class="my-0 opacity-7">Trả phòng</p>
                                                        <p class="my-0 fs-24 ">@Model.checkout</p>
                                                        <input type="hidden" name="checkout" value="@Model.checkout"/>
                                                        <p class="my-0 fs-12 opacity-7">Thứ năm</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- goods responsibility -->
                                    <div class="checkout-1__booking-info-body--item">
                                        <p class="checkout-1__booking-info-subtitle">
                                            Trách nhiệm vật chất
                                        </p>
                                        <div class="checkout-1__booking-info-content">
                                            <div class="row">
                                                <div class="col l-12">
                                                    <p class="opacity-7 fs-14 my-5">
                                                        Khách hàng chịu mọi trách
                                                        nhiệm
                                                        thiệt
                                                        hại về tài sản đã
                                                        gây ra tại chỗ ở trong thời gian lưu trú.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- room rules -->
                                    <div class="checkout-1__booking-info-body--item">
                                        <p class="checkout-1__booking-info-subtitle">
                                            Nội quy chỗ ở
                                        </p>
                                        <div class="checkout-1__booking-info-content">
                                            <div class="row">
                                                <div class="col l-12">
                                                    <p class="opacity-7 fs-14 my-5">
                                                        Hạn chế làm ồn sau 10 giờ
                                                        tối
                                                    </p>
                                                    <p class="opacity-7 fs-14 my-5">
                                                        Không hút thuốc ở khu vực
                                                        chung
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Info user -->
                            <div class="checkout-1__booking-info--item">
                                <h3 class="checkout-1__booking-info--item-title">Thông tin của bạn</h3>
                                @using LuxStay.Areas.Admin.Data
                                @{ 
                                    var cus = (CustomerModel)Session["USER"];
                                }
                                <div class="checkout-1__booking-info-body">
                                    <!-- guess name -->
                                    <div class="checkout-1__booking-info-body--item">
                                        <label for="user-name" class="checkout-1__booking-info-subtitle">
                                            <span class="important-info">*</span>
                                            Tên khách hàng
                                        </label>
                                        <div class="checkout-1__booking-info-content">
                                            <div class="row">
                                                <div class="col l-12">
                                                    <input type="text" class="checkout-1__booking-info-input px-18 py-12 is-shadow-box is-grounded" value="@cus.fullname" id="user-name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- user contact -->
                                    <div class="checkout-1__booking-info-body--item">
                                        <div class="checkout-1__booking-info-content">
                                            <div class="row">
                                                <div class="col l-6">
                                                    <label for="user-phone" class="checkout-1__booking-info-subtitle">
                                                        <span class="important-info">*</span>
                                                        Số điện thoại
                                                    </label>
                                                    <div class="checkout-1__booking-info-content">
                                                        <div class="row">
                                                            <div class="col l-12">
                                                                <input type="text" class="checkout-1__booking-info-input px-18 py-12 is-shadow-box is-grounded" value="@cus.phone" id="user-phone">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col l-6">
                                                    <label for="user-email" class="checkout-1__booking-info-subtitle">
                                                        <span class="important-info">*</span>
                                                        Email
                                                    </label>
                                                    <div class="checkout-1__booking-info-content">
                                                        <div class="row">
                                                            <div class="col l-12">
                                                                <input type="email" class="checkout-1__booking-info-input px-18 py-12 is-shadow-box is-grounded" value="@cus.email" id="user-email">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- More info -->
                            <div class="checkout-1__booking-info--item">
                                <h3 class="checkout-1__booking-info--item-title">Thông tin thêm</h3>
                                <div class="checkout-1__booking-info-body">
                                    <!-- select purpose -->
                                    <div class="checkout-1__booking-info-body--item">
                                        <div class="checkout-1__booking-info-subtitle">
                                            <span class="important-info">*</span>
                                            Mục đích của chuyến đi này?
                                        </div>
                                        <div class="checkout-1__booking-info-content">
                                            <div class="row">
                                                <div class="col l-6">
                                                    <div class="checkout-1__booking-info-purpose-wp has-dropdown-box">
                                                        <input type="text" readonly="readonly" autocomplete="off" placeholder="Dành gia đình" class="checkout-1__booking-info-input px-18 py-12 is-shadow-box is-grounded">
                                                        <i class="dropbox-icon fas fa-chevron-down"></i>
                                                        <ul class="checkout-1__booking-info-purpose--list dropdown-box is-grounded">
                                                            <li class="checkout-1__booking-info-purpose--item active">
                                                                Dành gia đình
                                                            </li>
                                                            <li class="checkout-1__booking-info-purpose--item">
                                                                Tổ chức tiệc
                                                            </li>
                                                            <li class="checkout-1__booking-info-purpose--item">
                                                                Công tác
                                                            </li>
                                                            <li class="checkout-1__booking-info-purpose--item">
                                                                Khác
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Coupon -->
                            <div class="checkout-1__booking-info--item">
                                <h3 class="checkout-1__booking-info--item-title">Mã khuyến mại</h3>
                                <div class="checkout-1__booking-info-body">
                                    <!-- select purpose -->
                                    <div class="checkout-1__booking-info-body--item">
                                        <div class="checkout-1__booking-info-content">
                                            <div class="checkout-1__booking-info-content">
                                                <div class="row middle">
                                                    <div class="col l-8">
                                                        <input type="text" class="checkout-1__booking-info-input px-18 py-12 mt-0 is-shadow-box is-grounded" placeholder="Nhập mã giảm giá">
                                                    </div>
                                                    <div class="col l-4">
                                                        <button class="btn check-out-btn">Áp dụng</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn check-out-btn mt-42">
                            Thanh toán
                            <i class="fas fa-angle-double-right ml-10"></i>
                        </button>
                    </form>
                </div>
                <!-- empty space -->
                <div class="col l-2"></div>
                <!-- Booking detail -->
                <div class="col l-4">
                    <div class="checkout-1__booking-info-wp">
                        <div class="checkout-1__booking-info--item">
                            <h3 class="checkout-1__booking-info--item-title">Chi tiết đặt phòng</h3>
                            <div class="checkout-1__booking-info-body">
                                <div class="checkout-1__booking-info-body--item">
                                    <div class="checkout-1__booking-info-content">
                                        <div class="px-18 py-12 bg-white is-shadow-box is-grounded">
                                            <!-- Booking header -->
                                            <div class="checkout-1__booking-info-room-header">
                                                <a href="" class="checkout-1__booking-room--link">
                                                    <div class="row">
                                                        <!-- room name -->
                                                        <div class="col l-12">
                                                            <h3 class="checkout-1__booking-info-subtitle">
                                                                @Model.room.roomName - @Model.room.bedRoom Phòng Ngủ, @Model.room.area m2
                                                            </h3>
                                                        </div>
                                                        <!-- room img -->
                                                        <div class="col l-6">
                                                            <div class="checkout-1__booking-room--img is-grounded" style="background-image: url(@Model.room.avatar);">

                                                            </div>
                                                        </div>
                                                        <!-- room detail -->
                                                        <div class="col l-6">
                                                            <div class="ln-normal is-flex">
                                                                <i class="fas fa-map-marker-alt detail-product__inform--icon fs-12"></i>
                                                                <p class="detail-product__inform--add opacity-7 fs-12 my-0">
                                                                    @Model.room.Address, Việt Nam
                                                                </p>
                                                            </div>
                                                            <div class="ln-normal is-flex mt-12">
                                                                <i class="fas fa-hotel detail-product__inform--icon fs-12"></i>
                                                                <p class="detail-product__inform--add opacity-7 fs-12 my-0">
                                                                    @Model.room.roomCategory · @Model.room.area m<sup>2</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!-- Booking body -->
                                            <div class="checkout-1__booking-info-room-body">
                                                <!-- night - space -->
                                                <div class="py-23 border-t">
                                                    <div class="ln-normal is-flex">
                                                        <i class="fas fa-map-marker-alt detail-product__inform--icon primary-color"></i>
                                                        <p class="detail-product__inform--add ml-10 my-0">
                                                            @Model.stayNumber đêm · <span class="opacity-7">
                                                                @Model.checkin -
                                                                @Model.checkout
                                                            </span>
                                                        </p>

                                                    </div>
                                                    <div class="ln-normal is-flex mt-12">
                                                        <i class="fas fa-hotel detail-product__inform--icon primary-color"></i>
                                                        <p class="detail-product__inform--add ml-10 my-0">
                                                            @Model.room.roomCategory · @Model.room.area m<sup>2</sup>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- price -->
                                                <div class="py-23 border-t">
                                                    <div class="ln-normal is-flex space-between pb-15">
                                                        <span class="detail-product__inform--add text-normal">
                                                            Giá thuê @Model.stayNumber đêm
                                                        </span>
                                                        <span class="detail-product__inform--add text-normal">
                                                            @Model.total đ
                                                        </span>
                                                    </div>
                                                    <div class="ln-normal is-flex space-between">
                                                        <span class="detail-product__inform--add text-normal">
                                                            Phí dịch vụ
                                                        </span>
                                                        <span class="detail-product__inform--add text-normal">
                                                            0₫
                                                        </span>
                                                    </div>
                                                </div>
                                                <!-- sum -->
                                                <div class="py-23 border-t">
                                                    <div class="ln-normal is-flex space-between">
                                                        <span class="detail-product__inform--add">
                                                            Tổng tiền
                                                        </span>
                                                        <span class="detail-product__inform--add">
                                                            @Model.total đ
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Booking body -->
                                            <div class="checkout-1__booking-info-room-footer">
                                                <div class="py-23 border-t">
                                                    <p class="my-0 text-bold fs-14">Chính sách hủy phòng</p>
                                                    <p class="detail-product__sub-inform--body-content opacity-7 my-5 fs-14">
                                                        <b>
                                                            Linh
                                                            hoạt:
                                                        </b> Miễn
                                                        phí hủy phòng trong vòng 48h sau khi đặt phòng
                                                        thành công
                                                        và trước 1 ngày so với thời gian check-in. Sau đó, hủy
                                                        phòng
                                                        trước 1
                                                        ngày so với thời gian check-in, được hoàn lại 100% tổng
                                                        số
                                                        tiền đã trả
                                                        (trừ phí dịch vụ).
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


