
@{
    ViewBag.Title = "Chào Mừng Đến Với Trang Quản Trị";
    Layout = "~/Areas/Admin/Views/Shared/__AdminLayout.cshtml";
}

@using LuxStay.Areas.Admin.Data
@model DashboardModel

<!-- Content Header (Page header) -->

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Trang Chủ</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.totalOrder</h3>
                        <p>Đơn Đặt Phòng Mới</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">Xem Chi Tiết <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.totalValue<sup style="font-size: 20px">đ</sup></h3>

                        <p>Doanh Thu</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">Xem Chi Tiết <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Model.totalCustomer</h3>

                        <p>Khách Hàng Trong Hệ Thống</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">Xem Chi Tiết <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>N/A</h3>
                        <p>Số Lượng Khách Truy Cập</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">Xem Chi Tiết <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <div class="">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Doanh Thu Hệ Thống</h3>
                    <div class="card-tools">
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 572px;" width="715" height="312" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Đơn Đặt Phòng Mới</h3>

                        @*<div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap middle">
                            <thead>
                                <tr>
                                    <th>Đơn Đặt Phòng</th>
                                    <th>Tên Khách Hàng</th>
                                    <th>Tên Phòng</th>
                                    <th>Ngày Nhận Phòng</th>
                                    <th>Ngày Trả Phòng</th>
                                    <th>Ngày Tạo Đơn</th>
                                    <th>Tổng Tiền</th>
                                    <th>Trạng Thái</th>
                                    <th>Tác Vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.latestBill)
                                {
                                <tr>
                                    <td class="middle">@("DDP00" + item.billId)</td>
                                    <td class="middle">@item.customername</td>
                                    <td class="middle">@item.roomname</td>
                                    <td class="middle">@item.check_in</td>
                                    <td class="middle">@item.check_out</td>
                                    <td class="middle">@item.create_at</td>
                                    <td class="middle">@item.totalShow</td>
                                    @if (item.status == 0)
                                    {
                                        <td class="middle">Chờ xác nhận</td>
                                    }
                                    else if (item.status == 1)
                                    {
                                        <td class="middle">Đã thanh toán</td>
                                    }
                                    else
                                    {
                                        <td class="middle">Đã hủy bỏ</td>
                                    }
                                    <td class="middle">
                                        <div class="d-flex d-flex justify-content-around">
                                            <button class="btn btn-secondary btn-view" data-id="@item.billId" data-toggle="modal" data-target="#billDetailModal">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="modal fade" id="billDetailModal" tabindex="-1" role="dialog" aria-labelledby="billDetailModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="billDetailModalLabel">Thông tin đơn đặt phòng</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p id="billID"></p>
                                    <p id="customerName"></p>
                                    <p id="roomName"></p>
                                    <p id="numAdult"></p>
                                    <p id="numKid"></p>
                                    <p id="numBaby"></p>
                                    <p id="checkIn"></p>
                                    <p id="checkOut"></p>
                                    <p id="createAt"></p>
                                    <p id="totalMoney"></p>
                                    <p id="status"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- /.content -->
@section js
{
    <script src="~/Assets/Admin/dist/js/chart-new.js"></script>
    <script src="~/Assets/Admin/dist/js/ajax/dashboard.js"></script>
}