@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/Admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/Assets/Admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Assets/Admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Assets/Admin/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/Admin/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Assets/Admin/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="~/Assets/Admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Assets/Admin/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Assets/Admin/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link data-n-head="1" rel="icon" type="image/png" sizes="16x16" href="https://www.luxstay.com/logos/16.png">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Assets/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- my style css -->
    <link href="~/Assets/Admin/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/Admin/dist/css/left-menu.css">
    <link rel="stylesheet" href="~/Assets/Admin/dist/css/table.css">
    <link rel="stylesheet" href="~/Assets/Admin/dist/css/main.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Admin" class="nav-link">Trang Chủ</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Thông Tin Đơn Đặt Phòng</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Chính Sách Đổi Phòng</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group">
                    <input class="form-control form-control-navbar" type="search" placeholder="Tìm Kiếm Đơn Đặt Phòng" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <!-- <button type="button" class="btn btn-block btn-secondary">Logout</button> -->
                        <!-- <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span> -->
                        <i class=" fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <div class="dropdown-divider"></div>
                        <a href="@Url.Action("Index","Profile")" class="dropdown-item">
                            Thông tin tài khoản
                            <i class="float-right fas fa-info-circle mt-1"></i>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="@Url.Action("Logout","Login")" class="dropdown-item">
                            Đăng xuất
                            <i class="float-right fas fa-sign-out-alt"></i>
                        </a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background: #1b1e24">
            <!-- Brand Logo -->
            <a href="/Admin" class="brand-link">
                <svg version="1.1" viewBox="0 0 50 50" class="header__logo-icon"
                     style="
                            width: 50px;
                            height: 50px;
                            fill: currentColor;
                            color: #fff;
                    ">
                    <path pid="0"
                          d="M25.093 0c13.781.06 24.94 11.317 24.882 25.106C49.917 38.894 38.663 50.058 24.88 50 11.1 49.942-.059 38.683.001 24.894.057 11.106 11.31-.058 25.092 0zm11.801 31.9L14.398 16.053c.241-.26.48-.518.74-.777 2.7-2.687 5.971-4.031 9.775-4.015 3.804.015 7.064 1.388 9.741 4.098.238.241.476.482.694.743l-5.951 4.133 2.381 1.688 5.153-3.576v.02L39.33 16.7c-.692-1.203-1.584-2.325-2.616-3.39-3.231-3.292-7.167-4.947-11.788-4.967-4.6-.019-8.53 1.603-11.809 4.867a17.806 17.806 0 00-2.682 3.408l1.429 1.004 23.429 16.51c-.24.26-.48.518-.74.777-2.7 2.687-5.971 4.011-9.775 3.996-3.803-.016-7.063-1.37-9.74-4.08-.258-.26-.496-.521-.734-.782l6.111-4.251-.139-.181-2.183-1.528-5.373 3.735v-.021l-2.377 1.65a17.824 17.824 0 002.654 3.43c3.253 3.291 7.169 4.946 11.769 4.965 4.62.021 8.549-1.602 11.83-4.866 1.06-1.075 1.96-2.21 2.682-3.406l-2.383-1.67z">
                    </path>
                </svg>
                <span class="brand-text font-weight-light pl-3">LuxStay</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="padding-left:8px">

                    @using Models.DAO
                    @{
                        var dao = new UserDAO();
                        int id = (int)Session["USER_ID"];
                        var user = dao.getUserById(id);
                    }
                    @if (user.Avatar == null)
                    {
                        <div class="image"
                             style="border-radius: 50%;
                                padding: 8%;
                                background-size: cover;
                                background-position: top center;
                                background-repeat: no-repeat;
                                background-image: url(/Assets/Admin/dist/img/user1-128x128.jpg);">
                        </div>

                    }
                    else
                    {
                        <div class="image"
                             style="border-radius: 50%;
                                padding: 8%;
                                background-size: cover;
                                background-position: top center;
                                background-repeat: no-repeat;
                                background-image: url(@user.Avatar);">
                        </div>
                    }
                    <div class="info">
                        <a href="#" class="d-block">@user.Fullname</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <p class="pl-2">
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fa fa-building" aria-hidden="true"></i>
                                <p class="pl-2">
                                    Quản Lý Phòng
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview sub-menu">
                                <li class="nav-item ml-25">
                                    <a href="/Admin/Room/" class="nav-link">
                                        <p>Danh Sách Phòng</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fa fa-life-ring" aria-hidden="true"></i>
                                <p class="pl-2">
                                    Quản Lý Dịch Vụ
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview sub-menu">
                                <li class="nav-item ml-25">
                                    <a href="/Admin/Service" class="nav-link">
                                        <p>Danh Sách Dịch Vụ</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="" class="nav-link">
                                <i class="fa fa-envelope-open" aria-hidden="true"></i>
                                <p class="pl-2">
                                    Quản Lý Đặt Phòng
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview sub-menu">
                                <li class="nav-item ml-25">
                                    <a href="pages/tables/tableG1.html" class="nav-link">
                                        <p>Danh Sách Đơn Đặt Phòng</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="" class="nav-link">
                                <i class="fa fa-th" aria-hidden="true"></i>
                                <p class="pl-2">
                                    Quản Lý Loại Phòng
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview sub-menu">
                                <li class="nav-item ml-25">
                                    <a href="/Admin/Category" class="nav-link">
                                        <p>Danh Sách Loại Phòng</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="" class="nav-link">
                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                                <p class="pl-2">
                                    Quản Lý Ưu Đãi
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview sub-menu">
                                <li class="nav-item ml-25">
                                    <a href="/Admin/Sale" class="nav-link">
                                        <p>Danh Sách Ưu Đãi</p>
                                    </a>
                                </li>
                                <li class="nav-item ml-25">
                                    <a href="#" class="nav-link">
                                        <p>Chính Sách Ưu Đãi</p>
                                    </a>
                                </li>
                                <li class="nav-item ml-25">
                                    <a href="#" class="nav-link">
                                        <p>Thêm Ưu Đãi Mới</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="" class="nav-link">
                                <i class="fa fa-book" aria-hidden="true"></i>
                                <p class="pl-2">
                                    Quản Lý Bài Viết
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview sub-menu">
                                <li class="nav-item ml-25">
                                    <a href="/Admin/Post" class="nav-link">
                                        <p>Danh Sách Bài Viết</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="" class="nav-link">
                                <i class="fa fa-user-md" aria-hidden="true"></i>
                                <p class="pl-2">
                                    Quản Lý Khách Hàng
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview sub-menu">
                                <li class="nav-item ml-25">
                                    <a href="/Admin/Customer" class="nav-link">
                                        <p>Danh Sách Khách Hàng</p>
                                    </a>
                                </li>
                                <li class="nav-item ml-25">
                                    <a href="#" class="nav-link">
                                        <p>Khách Hàng Thân Thiết</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="" class="nav-link">
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                <p class="pl-2">
                                    Quản Lý Giá Phòng
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview sub-menu">

                                <li class="nav-item ml-25">
                                    <a href="#" class="nav-link">
                                        <p>Danh Sách Ưu Đãi</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="" class="nav-link">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <p class="pl-2">
                                    Quản Lý User
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview sub-menu">
                                <li class="nav-item ml-25">
                                    <a href="/Admin/User" class="nav-link">
                                        <p>Danh Sách User</p>
                                    </a>
                                </li>
                                <li class="nav-item ml-25">
                                    <a href="/Admin/User" class="nav-link">
                                        <p>Thiết Lập Phân Quyền</p>
                                    </a>
                                </li>
                                <li class="nav-item ml-25">
                                    <a href="/Admin/User" class="nav-link">
                                        <p>Chấm Công</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="" class="nav-link">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <p class="pl-2">
                                    Quản Lý Khu Vực
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview sub-menu">
                                <li class="nav-item ml-25">
                                    <a href="/Admin/Location" class="nav-link">
                                        <p>Danh Sách Khu Vực</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="" class="nav-link">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                <p class="pl-2">
                                    Báo Cáo Thống Kê
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview sub-menu">
                                <li class="nav-item ml-25">
                                    <a href="#" class="nav-link">
                                        <p>Thống Kê Doanh Thu</p>
                                    </a>
                                </li>
                                <li class="nav-item ml-25">
                                    <a href="#" class="nav-link">
                                        <p>Khách Hàng</p>
                                    </a>
                                </li>
                                <li class="nav-item ml-25">
                                    <a href="#" class="nav-link">
                                        <p>Khu Vực</p>
                                    </a>
                                </li>
                                <li class="nav-item ml-25">
                                    <a href="#" class="nav-link">
                                        <p>Bài Viết</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <strong>The 2000s</strong>
            <div class="float-right d-none d-sm-inline-block">
                Made with <i class="fas fa-heart"></i> | Hutech CNTT
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Assets/Admin/plugins/jquery/jquery.min.js"></script>
    <script src="~/Assets/Admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Assets/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Assets/Admin/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Assets/Admin/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Assets/Admin/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Assets/Admin/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- daterangepicker -->
    <!-- Select2 -->
    <script src="~/Assets/Admin/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Assets/Admin/plugins/moment/moment.min.js"></script>
    <script src="~/Assets/Admin/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Assets/Admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Assets/Admin/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Assets/Admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- DataTables -->
    <script src="~/Assets/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Assets/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/Admin/dist/js/fontawesome.js"></script>
    <script src="~/Assets/Admin/dist/js/adminlte.js"></script>
    <script src="~/Assets/Admin/Login/js/validator.min.js"></script>
    <script src="~/Assets/Admin/plugins/toastr/toastr.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="~/Assets/Admin/dist/js/pages/dashboard.js"></script>*@
    <!-- AdminLTE for demo purposes -->
    <script src="~/Assets/Admin/dist/js/demo.js"></script>
    <script src="~/Assets/Admin/dist/js/main.js"></script>
    @RenderSection("js", false)
</body>

</html>